<div>
  <nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">
    <a
      class="navbar-brand"
      style="font-weight: bold; font-family: sans-serif"
      href="/"
    >
      <i class="fas fa-drum"></i>
      Drummers for Hire
    </a>
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link navbar-text" href="#home-features">Features</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="btn btn-primary mr-2 btn-sm" href="/login" role="button"
          >Login</a
        >
      </form>
    </div>
  </nav>
</div>
