<%- include('../header'); -%> <%- include('../navbar'); -%>

<div
  class="container"
  style="padding-top: 90px; padding-bottom: 30px; text-align: center"
>
  <h1><%= drummers.name.charAt(0).toUpperCase() + drummers.name.slice(1) %></h1>
</div>

<%- include('../footer'); -%>
